<h3>{{title}}</h3><hr/>
<table *ngIf="abierto else nocursos">
  <thead>
  <tr>
  <th>Lenguaje de programación </th>
  </tr>
</thead>
  <tbody>
    <tr *ngFor="let nombre of cursos; index as i;">
      <td> {{i}} - {{nombre}} </td>
    </tr> 
  </tbody>
  </table>
  

  <ng-template #nocursos>
    <i>No hay cursos disponibles actualmente</i>
  </ng-template>
  <br/><button (click)="abrircursos()">Activar cursos</button>

  @if(abierto){
    <p>La academia está abierta al público</p>
  } 
  @else {
    <p>La academia está cerrada actualmente</p>
}